<!DOCTYPE html>
<% provide(:title, '도움주신 블로거 분들') %>
<html>
	<head>
	</head>
	<body>
		<div class = "body_helpers">
			<div class = "helpers">
				<li><%= link_to http://blog.naver.com/ml9102?Redirect=Log&logNo=220351347534<%></li>


			</div>
		<div>
	</body>

</html>
