<% provide(:title, "Sejong Plate") %>

<html>
  <head>
    <%= render 'static_pages/slider'%>
  </head>
  <body>
    <%= render 'static_pages/restaurant' %>
    <div class="paginate">
      <%= will_paginate @restaurants , :previous_label => '이전', :next_label => '다음' %>
    </div>  
  </body>
  <script>
    $('.carousel').carousel({
        interval: 2500
    })
  </script>
</html>