<% provide(:title, 'All users') %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>All users</h1>

	<%= will_paginate %>

	<ul class="users">
	  	<%= render @users %>
	</ul>

	<%= will_paginate %>
</body>
</html>
