<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="login_form" align="center">
		<div id="login_text">로그인</div>
		<input type="id" class="form-control" id="inputId" placeholder="ID">
    	<input type="password" class="form-control" id="inputPwd" placeholder="Password">
    	<button type="submit" class="btn btn-default", id="bt_login">로그인</button><br>
		<%=link_to "회원가입", new_user_path, class:"btn btn-default", id:"bt_register"%><br>

		
		<%=link_to "페이스북으로 로그인", "/auth/facebook", class:"btn btn-default", id:"bt_register_facebook"%>
	</div>
</body>
</html>