<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="login_form" align="center">
		<div id="login_text">LOGIN</div>
		<input type="id" class="form-control" id="inputId" placeholder="ID">
    	<input type="password" class="form-control" id="inputPwd" placeholder="Password">
    	<button type="submit" class="btn btn-default", id="bt_login">LOGIN</button><br>
		<%=link_to "REGISTER", new_user_path, class:"btn btn-default", id:"bt_register"%>
	</div>
</body>
</html>