
<div class="flexslider">
    <ul class="slides">
        <li>
            <%= image_tag ("a.jpg") %>
        </li>
        <li>
            <%= image_tag ("b.jpg") %>
        </li>
        <li>
            <%= image_tag ("c.jpg") %>
        </li>
        <!-- <%= image_tag @albums[0].picture_url, :width => "92%", :height => "40%" %> -->
    </ul>
</div>