
<div class="flexslider">
    <ul class="slides">
        <li>
            <%= image_tag @albums[0].picture_url%>
        </li>
        <li>
            <%= image_tag @albums[1].picture_url%>
        </li>
        <li>
            <%= image_tag @albums[3].picture_url%>
        </li>
    </ul>
</div>