<div class="restaurant_info_middle">

	<div class="restaurant_info_middle_deliver">
		<span id="restaurant_icon" class="glyphicon glyphicon-briefcase"> </span>
		<span class="restaurant_title"> 배달유무 </span>
		<span class="restaurant_content">
			<%= @restaurant.r_code %>
		</span>
	</div>

	<div class="restaurant_info_middle_phone">
		<span id="restaurant_icon" class="glyphicon glyphicon-phone-alt"> </span>
		<span class="restaurant_title"> 연락처 </span>
		<span class="restaurant_content">
			<%= @restaurant.r_phone_number %>
		</span>
	</div>

	<div class="restaurant_info_middle_distance">
		<span id="restaurant_icon" class="glyphicon glyphicon-map-marker"> </span>
		<span class="restaurant_title"> 소요시간 </span>
		<span class="restaurant_content">
			<%= " 도보 " + @restaurant.r_distance + " 분(" + @restaurant.r_distance_door + ")"%>
		</span>
	</div>

	<div class="restaurant_info_middle_time">
		<span id="restaurant_icon" class="glyphicon glyphicon-time"> </span>
		<span class="restaurant_title"> 영업시간 </span>
		<span class="restaurant_content">
			<%= @restaurant.r_time %>
		</span>
	</div>
</div>