<html lang="ko" xmlns:v="urn:schemas-microsoft-com:vml">
    <head>
        <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=ab36337e7f5a470f7a2749a1373c5584"></script>
    </head>
    <body>
            <div id="map"></div>
            <script type="text/javascript">
                var oPoint = new nhn.api.map.LatLng(<%= @restaurant.r_latitude %>, <%=@restaurant.r_longtitude %>);
                var oMap = new nhn.api.map.Map(document.getElementById('map'), { 
                                point : oPoint,
                                zoom : 11,
                                enableWheelZoom : true,
                                enableDragPan : true,
                                enableDblClickZoom : true,
                                mapMode : 0,
                                activateTrafficMap : false,
                                activateBicycleMap : false,
                                activateRealtyMap : true,
                                minMaxLevel : [ 1, 14 ],
                                size : new nhn.api.map.Size(1000, 500)
                            });
                // 줌 컨트롤러
                var oSlider = new nhn.api.map.ZoomControl();
                oMap.addControl(oSlider);
                oSlider.setPosition({ top:15, left:15 });
                //아래는 위에서 지정한 좌표에 마커를 표시하는 소스 입니다.
                var oSize = new nhn.api.map.Size(28, 37);
                var oOffset = new nhn.api.map.Size(14, 37);
                var oIcon = new nhn.api.map.Icon('http://static.naver.com/maps2/icons/pin_spot2.png', oSize, oOffset);
                //icon 이미지를 바꿔서 사용할 수 있습니다.
                var oMarker = new nhn.api.map.Marker(oIcon, { title : '<%= @restaurant.r_name %>' }); 
                oMarker.setPoint(oPoint);
                oMap.addOverlay(oMarker);
                // 마커라벨 표시
                var oLabel1 = new nhn.api.map.MarkerLabel(); // 마커 라벨 선언
                oMap.addOverlay(oLabel1);// 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨
                oLabel1.setVisible(true, oMarker);// 마커 라벨 보이기 
            </script>
    </body>
</html>