
<div class="restaurant_info_top">
	<span class="restaurant_name">
		<%= @restaurant.r_name %>
	</span>
		
	<span class="restaurant_like_count">
		(<%= @restaurant.r_like %> 추천)
	</span>
</div>
