<% provide(:title, @restaurant.r_name) %>

<div class="show_container">
	<div class="restaurant_contents">
		<%= image_tag @albums[0].picture_url, :width => "49%", :height => "100%" %>

		<%= render 'restaurants/restaurant_info' %>

	</div>

	<div class="comment_contents">
		<%= render 'restaurants/comment_content' %>
		<%= render 'restaurants/comment_input' %>		
	</div>

</div>

<script>
	$( document ).ready(function() {
		$('#like_button').click(function() { 
			$.blockUI({ 
				css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
        		},
				message: ' 잠시만 기다려주세요..' }); 
        	setTimeout($.unblockUI, 200); 
    	});
    	
	});
</script>
