<% provide(:title, @restaurant.r_name) %>

<!DOCTYPE html>
<html>
	<head>
		<script src="jquery.min.js"></script>
		<script src="jssor.slider.mini.js"></script>
		<link rel="stylesheet" href="flexslider.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="jquery.flexslider.js"></script>
		<script type='text/javascript' src='http://2nlizv2n463m4ezbxb1ci6m1.wpengine.netdna-cdn.com/wp-content/themes/woo/includes/js/jquery.flexslider.min.js?ver=2.2.0'></script>

		<script type="text/javascript" charset="utf-8">
			$(window).load(function() {
				$('.flexslider').flexslider({
					animation: "slide",
					smoothHeight: true,
					controlNav: false,
					directionNav: false,
					itemWidth: 1080,
					itemMargin: 5,
					start: function(slider) {
						$('body').removeClass('loading');
					}			
				});
			});
		</script>

		<script>
			$( document ).ready(function() {
				$('#like_button').click(function() { 
					$.blockUI({ 
						css: { 
		            		border: 'none', 
		            		padding: '15px', 
		            		backgroundColor: '#000', 
		            		'-webkit-border-radius': '10px', 
		            		'-moz-border-radius': '10px', 
		            		opacity: .5, 
		            		color: '#fff' 
        				},
						message: ' 잠시만 기다려주세요..' }); 
        			setTimeout($.unblockUI, 200); 
    			});    	
			});
		</script>

		<meta property="fb:app_id" content="479527275585707" />
		<meta property="og:url"  content="http://www.sejongplate.com/restaurants/r_id" />
    	<meta property="og:type" content="website" />
    	<meta property="og:title" content="Sejong Plate" />
    	<meta property="og:description" content="Sejong Plate" />
    	<meta property="og:image" content="http://www.sejongplate.com/assets/folk-515f3a08bbdc439c5ebf70f7a30d4b20d701999c29eb1431a0ef9ee32b2f5765.png" />
	</head>

	<body>
		<%= render 'restaurants/restaurant_info_imageslider' %>
		<%= render 'restaurants/restaurant_info_top' %>
		<%= render 'restaurants/restaurant_info_middle' %>
		<%= render 'restaurants/restaurant_info_bottom' %>
	</body>
</html>