<% provide(:title, @restaurant.r_name) %>

<div class="show_container">
	<div class="restaurant_contents">
		<%= image_tag @albums[0].picture_url, :width => "49%", :height => "100%" %>
		<%= render 'restaurants/restaurant_info' %>
	</div>

	<div class="comment_contents">
		<%= render 'restaurants/comment_content' %>
		<%= render 'restaurants/comment_input' %>		
	</div>
</div>

<script>
	$( document ).ready(function() {
		
	});
</script>