@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* header */

#static{
  color: #fff;
  text-align: center;
}

.navbar-inverse .navbar-nav > li > a{
  text-align: center;
  margin-right: 30px;
  font-size: 16px;
  color: #777;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: #f0ad4e;
}
/*별명*/
#edit-form{
  width: 300px;
}
#logo_img{
  margin-right: 10px;
}

#logo {
  float: left;
  margin-left: 15px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
.navbar-inverse{
  background-color: #fff;
  border-color: #fff;
}

#logo{
  color: #000;
}

#logo:hover {
  color: #555;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: #777;
}

.navbar-inverse .navbar-nav > li > a{
  color: #222;
}

/* body */

.container{
  width: 100%;
  padding: 0px;
}
.container_info{
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; 

  .container_title{
    color: #4f4f4f;
    font-size: 30px;
    font-weight: bold; 
  }
}


body{
  padding-top: 60px;
}

.carousel-indicators{
  padding-bottom: 10px;
}

.carousel-inner{
  width: 60%;
  background-color: #transparent;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
}

#slide_item{
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  
  .c_box{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 240px;
    text-align: center;
    width: 60%;
    height: 120px;
    background-color: #000;

    opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }

  .info_title{
    padding-top: 15px;
    top: 100px;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
  .info_detail{
    text-align: center;
    color: #fff;

    small{
        color:#dedede;

    }
  }

}


/* 메인 슬라이더 밑 */
table{
  border:#fff;
}
.inner-view{
  margin-top: 50px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;

}

.thumbnail{
  position: relative;
  border: 0px;  
  opacity: 0.6;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);

  .info-box{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: transparent;

  }
  .info{
    font-size: 0px;
  }
  .info-detail{
    font-size: 0px;
  }
}

.thumbnail:hover{
  position: relative;

  opacity: 1.0;
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);

  .info-box{
    position: relative;
    top: 165px;
    width: 100%;
    height: 80px;

    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .info{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #fff;
  }
  .info-detail{
    text-align: center;
    font-size: 15px;
    color: #dedede;
  }
}

/* Paginate */
.paginate{
  width: 55%;
  height: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
    color: #000;
}
/*hover*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: #f0ad4e;
  border-color: transparent;
}
/*paginate previous, next text*/
.pagination > li > a, .pagination > li > span{
  color:#f0ad4e;
}

/*Edit Comment*/
.edit_comment{
  margin: 30px;

}
#comment_edit{
  text-indent: 10px;
  width: 600px;
  height: 75px;
}


#comment_content{
  font-size: 15px;
}

#comment_time{
  font-size: 11px;
  color: #aaa;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {
  height: 130px;
  padding-left: 25px;  
  padding-top: 5px;
  background-color: #3c3c3e;
  border-top: 0px solid #eaeaea;
  color: #a1a1a1;
}

#footer-line{
  padding-right: 50px;
}
.footer-box{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
footer a {
  color: #a1a1a1;
}

footer a:hover {
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  margin-top: 10px;
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* 지연 */

body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: normal;
}

.show_container {
  padding-top: 20px;
  padding-bottom: 520px;
  background-color: whitesmoke;
}

#restaurant_icon {
  float: left;
  width: 23px;
  line-height: 2.0;
}

.restaurant_name {
  float: left;
  font-size: 32px;
  margin: 15px 0 18px;
}

.menu_list {
  hr {
    margin-top: -9px;
  }
}

.glyphicon {
  border: transparent;
  background-color: transparent;
}

button {
  width: 30px;
  height: 87px;
  color: orange;
}

.restaurant_contents {
  position: relative;
  height: 350px;
  width: 70%;
  background: white;
  margin: 20px auto;
  border: solid 1px gainsboro;
}

img {
      vertical-align: top;
      float: left;
}

.restaurant_info {
  padding: 2% 0% 0% 52%;
}

hr {
  margin-left: -5px;
  width: 98%;
}

.middle_info {
  margin-left: -8px;
}

.like {
  float: left;
  width: 105px;
  height: 60px;
  padding: 7px 22px;
  color: lightgray;
  font-size: 15px;
  margin-top: -11px;
  text-align: center;
  border-right: solid 1px gainsboro;
}

.like_word {
  color: black;
  margin-left: -7px;
  margin-top: 8px;
}

.glyphicon-cutlery:before {
  color: orange;
  font-size: 18px;
  padding-right: 2px;
}

.score_area {
  float: left;
  text-align: center;
  width: 100px;
  height: 60px;
  margin-left: 10px;
  margin-top: -11px;
  padding-top: 11px;
  padding-right: 10px;
  border-right: solid 1px gainsboro;
}

.restaurant_like {
  float: left;
  width: 100px;
  height: 60px;
  margin-top: -11px;
  margin-left: 8px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-right: 5px;
  text-align: center;
}


.restaurant_ul {
  margin-top: 25px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 26px;
  list-style: none;
}


.restaurant_title {
    width: 90px;
    float: left;
    font-weight: 800;
}

.restaurant_val {
  width: 310px;
  float: right;
}


.btn-default {
  margin-top: 5px;
  width: 130%;
  height: 35px;
  margin-left: -14px;
  color: white;
  background-color: orange;
  border-color: transparent;
}

.comment_contents {
  position: relative;
  height: 100%;
  width: 70%;
  background: white;
  margin: 20px auto;
  border: solid 1px gainsboro;

  strong {
    margin-left: 30px;
    line-height: 3.0;
    font-size: 25px;
  }

  hr{
    margin-left: auto;
    margin-right: auto;
    width: 90%;    
  }
}

.r_contents {
  color: orange;
}

#comment_user{
  padding-left: 50px;
  width: 23%

}
.comment_nickname{
  font-size: 16px;
}
#comment_nickname_visitor{
  font-size: 15px;
}
.comment_input {
  height: 200px;
}

#comment_input {
  margin-top: 60px;
  margin-bottom: 60px;    
}

#comment_create {
  width: 75%;
  height: 100px;
  border-radius: 4px;
}

.comment_score {
  margin-top: -20px;
}

#comment_submit {
  margin-top: 15px;
  background-color: #f0ad4e;
  border-color: transparent;
}


/* 승진 */
.restaurants_contents {
  position: relative;
  height: 220px;
  width: 850px;
  background: white;
  margin: 10px;
  margin-left: 100px;
  border: solid 1px gainsboro;
  border-radius: 10px;
  h3{
    font-size: 32px;
    margin: 15px 0 18px;
    a {
      color: black;
    }
  }
  }

.restaurants_ul {
  margin-top: 15px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 26px;
  list-style: none;
}

.restaurants_info {
  padding: 0px 20px 0px 300px;
}

.side_card {
  background: #3c3c3e;
  width: 220px;
  height: 315px;
  border-radius: 2px;
  color: #222;
}
.ranking_ul {
  margin-top: 15px;
  padding-left: 2px;
  font-size: 12px;
  line-height: 26px;
  list-style: none;
}