body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: normal;
}

.show_container {
  height: 1800px;
  background-color: whitesmoke;
}

#restaurant_icon {
  float: left;
  width: 23px;
  line-height: 2.0;
}

.restaurant_name {
  float: left;
  font-size: 32px;
  margin: 15px 0 18px;
}

.menu_list {
  margin-left: 4px;
  margin-right: -2px;

  .button {
    width: 100px;
    height: 100px;
  }
}

.button_with_image_save {
  background: url(../images/map.jpg);
  text-indent: 30px;
  display: block;
  cursor: pointer;
}

.map_view {
  hr {
    margin-top: -9px;
  }
  margin-left: -11px;
}

.modal-open .modal {
  margin-top: 20px;
  margin-right: 130px;
}

.glyphicon {
  border: transparent;
  background-color: transparent;
}

button {
  width: 30px;
  height: 50px;
  color: orange;
  margin-top: 17px;
}

button {
  #photo {
  width: 150px;
  height: 150px;
  background-image: "photo.jpg";
  background-repeat: no-repeat;
  }
}

.restaurant_contents {
  display: block;
  position: relative;
  height: 1200px;
  width: 100%;
  background: white;
  margin: 0 auto;
  border: solid 1px gainsboro;
}

.restaurant_content {
  margin-right: 20px;
}

img {
  display: block;
  vertical-align: top;
  float: left;
}

.restaurant_info {
  padding: 2% 0% 0% 52%;
}

hr {
  margin-left: -5px;
  width: 98%;
}

.middle_info {
  margin-top: -16px;
  margin-left: -8px;
}

.like {
  float: left;
  width: 105px;
  height: 60px;
  padding: 7px 22px;
  color: lightgray;
  font-size: 15px;
  margin-top: -11px;
  text-align: center;
  border-right: solid 1px gainsboro;
}

.like_word {
  color: black;
  margin-left: -7px;
  margin-top: 8px;
}

.glyphicon-cutlery:before {
  color: orange;
  font-size: 18px;
  padding-right: 2px;
}

.score_area {
  float: left;
  text-align: center;
  width: 100px;
  height: 60px;
  margin-left: 10px;
  margin-top: -11px;
  padding-top: 11px;
  padding-right: 10px;
  border-right: solid 1px gainsboro;
}

.restaurant_like {
  float: left;
  width: 100px;
  height: 60px;
  margin-top: -11px;
  margin-left: 8px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-right: 5px;
  text-align: center;
}


.restaurant_ul {
  margin-top: 25px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 26px;
  list-style: none;
}


.restaurant_title {
  width: 90px;
  float: left;
  font-weight: 800;
}

.restaurant_val {
  width: 310px;
  float: right;
}

#btn_1 {
  margin-top: 5px;
  width: 130%;
  height: 35px;
  margin-left: -14px;
  color: white;
  background-color: orange;
  border-color: transparent;
}

.modal-content {
}

.map_view {
  margin-top: 3px;
  margin-left: -10px;
}

.modal-dialog modal-lg {
  text-align: center;
}

#btn_2 {
  margin-top: -10px;
  width: 115%;
  height: 35px;
  margin-left: -14px;
  color: white;
  background-color: orange;
  border-color: transparent;
}

.comment_contents {
  position: relative;
  height: 100%;
  width: 70%;
  background: white;
  margin: 20px auto;
  border: solid 1px gainsboro;

  strong {
    margin-left: 30px;
    line-height: 3.0;
    font-size: 25px;
  }

  hr{
    margin-left: auto;
    margin-right: auto;
    width: 90%;    
  }
}

.r_contents {
  color: orange;
}

#comment_user{
  padding-left: 50px;
  width: 23%

}
.comment_nickname{
  font-size: 16px;
}
#comment_nickname_visitor{
  font-size: 15px;
}
.comment_input {
  height: 200px;
}

#comment_input {
  margin-top: 60px;
  margin-bottom: 60px;    
}

#comment_create {
  width: 75%;
  height: 100px;
  border-radius: 4px;
}

.comment_score {
  margin-top: -20px;
}

#comment_submit {
  margin-top: 15px;
  background-color: #f0ad4e;
  border-color: transparent;
}
