@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@media all and (max-width: 768px) {
    .container{
    	margin: 0px;
    	padding: 0px;
		width: 100%;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
		color: black;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
		background-color: #fca98d;
		color: black;
	}
	.navbar-inverse .navbar-toggle{
		background-color: black;
		border-color: transparent;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		border-color: white;
	}
	.navbar-nav .open .dropdown-menu{
		background-color: #eee;
	}
	.navbar-inverse .navbar-nav > li > a{
		font-size: 16px;
		color: white;
	}
	.navbar-inverse .navbar-nav > li > a:hover{
		background-color: #ff6633;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container{
    	margin: 0px;
    	padding: 0px;
		width: 100%;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
		color: black;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
		background-color: white;
		color: black;
	}
	.navbar-inverse .navbar-toggle{
		background-color: black;
		border-color: transparent;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		border-color: white;
	}
	.navbar-nav .open .dropdown-menu{
		background-color:#eee;
		border-color: #eee;
	}
	.navbar-inverse .navbar-nav > li > a{
		font-size: 16px;		
		color: white;
	}
	.navbar-inverse .navbar-nav > li > a:hover{
		background-color: #888;
	}
	.navbar-inverse .navbar-nav > li > a:hover{
		background-color: #f78f6c;

	}
}

@media all and (min-width: 1025px) {
	.container{
		margin: 0px;
    	padding: 0px;
		width: 100%;
	}
	.navbar-inverse .navbar-nav > li > a{
		color: white;
	}
	.navbar-inverse .navbar-nav > li > a:hover{
		background-color: #ff8e68;

	}
	.navbar-nav > li > .dropdown-menu{
		background-color: white;
		border-color: transparent;
	}
	.dropdown-menu > li > a:hover{
		background-color: #fca98d;
	}
}


body{
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	background-color: #eee;
}
#main_img img{
	cursor: default;
}

.navbar-inverse{
	padding-left: 20px;
	background-color: transparent;
	border-top-width: 3px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #ff6633;
}

.glyphicon {
  border: transparent;
  background-color: transparent;
  color: #FF6633;
  margin-right: 5px;
}

.dropdown-menu > li > a{
	font-size: 16px;
}


/* Paginate */
#home_paginate{
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: whitesmoke;

}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
  color: #000;
}

/*hover*/

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: #f78f6c;
  border-color: transparent;
}

/*paginate previous, next text*/

.pagination > li > a, .pagination > li > span{
  color:#f0ad4e;
  font-family: 'Noto Sans KR', sans-serif;

}

.btn-default:focus, .btn-default:active{ 
  outline: none !important;
}

nav, #info_title, #title, #box{
  font-family: 'Noto Sans KR', sans-serif;
}
