#login_form{
	margin-top: 100px;
}
#login_text{
	font-size: 20px;
	font-weight: bold;
}
#inputId, #inputPwd, #inputNick{
	width : 450px;
	height: 50px;
	margin-top: 15px;
}
#bt_login, #bt_register{
	width: 450px;
	height: 50px;
	margin-top: 15px;
	padding-top: 5px;
}