<footer class="footer">
	<div class="footer-box">
	  <p>
	  <small>
	  	<br>
	    The Sejong Plate<br><br>
	    세종대학교 다산관 205호<br><br>
	    FAT DOG COMPANY

	  </small>
	  <nav>
	    <ul id = "footer-line">
	      <li><%= link_to image_tag("fb.png", width: "45px", height: "45px"), "https://www.facebook.com/sejongplate", :target => "_blank" %></li>
	    </ul>
	  </nav>
	</div>
</footer>
