<footer class="footer">
	<div class="footer-box">
	  <p>
	  <small>
	  	<br>
	    The Sejong Plate<br><br>
	    세종대 맛집 평가 서비스<br><br>
	    
	  </small>
	  <nav>
	    <ul id = "footer-line">
	      <li><%= link_to image_tag("fb.png", width: "45px", height: "45px"), "https://www.facebook.com/sejongplate", :target => "_blank" %>
	      </li>
	      <li>
	      	<!--<%= link_to image_tag("nv.png", width: "45px", height: "45px"), contact_path %>-->
	      </li>
	    </ul>
	  </nav>
	</div>
</footer>
