<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<footer>
		<div id="footer_content">
		  <img src="../assets/facebook_fabicon.png" id="footer_img">
		  <a href="https://www.facebook.com/sejongplate/?fref=ts" 
		  id="footer_facebook" target="_blank">SEJONG PLATE Facebook Page</a><br>
		  <hr style="width:50px; float:left; border-top: 1px solid #a1a1a1;"><br><br><br>
		  Eat, Enjoy, Be Happy Sejong!<br>
		  Copyright © 2016 by OpenYearRound. Inc. All rights reserved
		</div>
	</footer>
</body>
</html>