<footer class="footer">
	<div class="footer-box">
	  <p>
	  <small>
	  	<br>
	    The Sejong Plate<br><br>
	    세종대학교 다산관 205호<br><br>
	    FAT DOG COMPANY

	  </small>
	  <nav>
	    <ul id = "footer-line">
	      <li><%= link_to "About",   about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	    </ul>
	  </nav>
	</div>
</footer>
