<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("folk.png", width: "30px" ,height: "30", id:"logo_img") + "SEJONG PLATE", root_path, id: "logo" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://m.sejong.ac.kr/front/cafeteria.do" target="_blank" style="font-weight:bold">학교 식당</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="font-weight:bold">주변식당 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/restaurants?r_distance_door=정문">정문</a></li>
              <li><a href="/restaurants?r_distance_door=쪽문">쪽문</a></li>
              <li><a href="/restaurants?r_distance_door=후문">후문</a></li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>
